<div class="container-fluid" >  
    <div class="row" style="padding: 22px;">  
        <div class="tex">  
        Know What music can do   
        </div>  
    </div>  
    <div class='col-12'>  
        <ngb-carousel>  
            <ng-template ngbSlide>  
                <img src="assets/music13.jpg" >  
                <div class="carousel-caption">  
                    <h3 style="color: white"><b>Improves mood :</b> Music can  help regulate emotions, and create happiness and relaxation in everyday life.</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="assets/music19.jpg" >  
                <div class="carousel-caption">  
                    <h3 style="color: white"><b>Reduces stress :</b> Listening to ‘relaxing’ music has been shown to reduce stress and anxiety</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="assets/music18.jpg" >  
                <div class="carousel-caption">  
                    <h3 style="color: white"><b>Improves exercise :</b> Music can enhance aerobic exercise, boost mental and physical stimulation</h3>  
                </div>  
            </ng-template>  
            <ng-template ngbSlide>  
                <img src="assets/music7.jpg" >  
                <div class="carousel-caption">  
                    <h3 style="color: white"><b>Improves memory :</b> Research has shown that the repetitive elements of rhythm and melody help our brains form patterns that enhance memory</h3>  
                </div>  
            </ng-template>  
        </ngb-carousel>  
    </div>  
</div>
<div class="rows" style="padding: 22px;">  
    <div class="text">  
    My app features..!   
    </div>  
</div> 
<div class="container">
    <div class="rows">
      <div class="col">
        <div class="card">
    <h3>You can add songs of your choice to the list </h3>
    <button (click)="gotosongs()" mat-button color="accent">Go to songs</button>
        </div>
      </div>
      <div class="col">
        <div class="card">
<h3>Songs management is very user friendly.Just a click away.you can edit your song details and much more</h3>
<button (click)="gotosongs()" mat-button color="accent">Go to songs</button>      
</div>
      </div>
      <div class="col">
        <div class="card">
<h3>Not only a registered user but non-registered user can also view the songs and listen to them.</h3> 
<button (click)="gotosongs()" mat-button color="accent">Go to songs</button>       
</div>
      </div>
      <div class="col">
        <div class="card">
  <h3>User interface is as awesome as its features are, like you can create your own playlists</h3>  
  <button (click)="gotoplaylists()" mat-button color="accent">Go to playlists</button>       
</div>
      </div>
      <div class="col">
        <div class="card">
    <h3>Manage your playlists like adding new songs and deleting song from playlist</h3>
    <button (click)="gotoplaylists()" mat-button color="accent">Go to playlists</button>       
</div>
      </div>
      <div class="col">
        <div class="card">
 <h3> You can also know which playlist is trending in the charts.chart shows viewership of playlists</h3> 
 <button (click)="gotoplaylists()" mat-button color="accent">Go to charts</button>       
        </div>
      </div>
      <div class="col">
        <div class="card">
 <h3>You can edit your profile any time with a click.</h3> 
 <button (click)="gotoprofile()" mat-button color="accent">Go to profile</button>       
        </div>
      </div>
    </div>
  </div>