.fullwidth {
    width: 150%;
  }
  mat-card {
    max-width: 500px;
    margin: 2em auto;
    text-align: center;
    margin-top: 160px;
    height: 220px;
  }
  
  mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:80%;
  }
  #error{
    color:red;
  }
  mat-card:hover {
    transform: translate(10px);
    transition: 0.4s ease-out;
    box-shadow: -1rem 0 3rem rgb(61, 57, 57);
  }
  
  mat-card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.3s ease-out;
  }